@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }

  .section-suptitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .section-text {
    font-weight: 400;
  }

  /* ----------------- ADVANTAGES ---------------------- */

  .advantages {
    /* padding-left: 0px;
    padding-right: 0px; */
    padding-bottom: 0px;
  }

  .advantages-list {
    flex-wrap: nowrap;
    display: flex;
    gap: 24px;
  }

  .advantages-item {
    min-width: 264px;
  }

  .advantages-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
    background: var(--cloud);
    border-radius: 4px;
  }

  /* ----------------- DOING ---------------------- */

  .section-doing-off {
    display: flex;
  }

  .list-doing {
    display: flex;
    gap: 24px;
  }

  .customers-list {
    flex-wrap: nowrap;
    padding-left: 0;
  }

  /* ----------------- TEAM ---------------------- */

  .team {
    min-width: 1158px;
  }

  .list-team {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding-left: 156px;
    padding-right: 156px;
    gap: 24px;
  }

  /* ----------------- FOOTER ---------------------- */

  .footer {
    min-width: 1440px;
    background-color: var(--navy-blue);
    padding-top: 100px;
    padding-left: 156px;
    padding-right: 156px;
    padding-bottom: 100px;
  }

  .footer-flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
  }

  .footer-studio {
    max-width: 264px;

    margin-right: 120px;
  }

  .footer-text {
    width: 264px;
    height: 72px;
    margin-top: 16px;
  }

  .footer-suptitle {
    margin-bottom: 16px;
  }

  .footer-subscribe {
    margin-left: 80px;
  }

  .footer-form {
    /* display: flex; */
  }
}
