@media screen and (min-width: 428px) {
  .container {
    width: 428px;
  }

  .mobile-menu-close {
    left: 380px;
    top: 24px;
  }

  .menu-bar-tel {
    font-size: 36px;
  }

  .mobile-menu-social-list {
    gap: 56px;
  }

  .footer-email {
    width: 398px;
  }
}
