@media screen and (min-width: 428px) {
  .container {
    width: 428px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  /* ----------------- HERO ---------------------- */

  /* ----------------- HEADER-MOBILE-MENU ---------------------- */

  .menu-bar-tel {
    font-size: 36px;
  }

  .mobile-menu-social-list {
    gap: 56px;
  }

  /* ----------------- CUSTOMERS ---------------------- */

  .customers-item {
    width: 168px;
  }

  /* ----------------- FOOTER ---------------------- */

  .footer-email {
    width: 398px;
  }

  /* ----------------- MODAL ---------------------- */

  .modal {
    width: 392px;
  }

  .modal-close {
    left: 360px;
  }
}
