@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .section-suptitle {
    text-align: left;
  }

  /* ----------------- HEADER ---------------------- */

  .header-navigation {
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    align-items: baseline;
  }

  .address-navigation {
    display: block;
  }

  .address-contacts {
    font-size: 12px;
    line-height: 1.33;
  }

  .header-mobile {
    display: none;
  }

  .header {
    display: flex;
    padding-bottom: 10px;
  }

  .current::after {
    bottom: -33px;
  }
  /* 
  .address-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    gap: 0;
  } */

  /* ----------------- HERO ---------------------- */

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-background-tablet.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-background-tablet-2x.jpg);
    }
  }

  .hero-title {
    max-width: 500px;
    font-size: 56px;
    line-height: 1.07;
  }

  /* ----------------- ADVANTAGES ---------------------- */

  .advantages-list {
    min-width: 750px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .advantages-item {
    max-width: 356px;
    display: inline-block;
  }

  /* ----------------- TEAM ---------------------- */

  .team-container {
    /* padding-left: 108px; */
  }

  .list-team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    /* padding-left: 108px; */
    padding-right: 0;
    column-gap: 24px;
    row-gap: 64px;
  }

  .customers-list {
    /* padding-left: 108px;
    justify-content: left; */
  }

  /* ----------------- FOOTER ---------------------- */

  .footer {
    text-align: left;
    justify-content: center;
  }

  .footer-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: normal;
    padding-left: 108px;
  }

  .footer-logo {
    margin-left: 0px;
  }

  .footer-text {
    margin-left: 0;
  }

  .footer-studio {
    text-align: left;
    margin-left: 0;
    margin-right: 24px;
  }

  .footer-subscribe {
    display: block;
    text-align: left;
  }

  .footer-email {
    width: 264px;
  }

  /* ----------------- MODAL ---------------------- */

  .modal {
    width: 408px;
    min-height: 586px;
  }
}
