@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .section-suptitle {
    text-align: left;
  }

  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .advantages-item {
    max-width: 356px;
    display: inline-block;
  }

  /* ----------------- TEAM ---------------------- */

  .list-team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 108px;
    padding-right: 0;
    gap: 24px;
  }
}
